<% content_for :title do %>MSME<% end %>
<% content_for :description do %>Website of Autorickshaw Productions. Landing page<% end %>

<div id="top" class="header ">
        <div class="vert-text">
            <h1>myEnterprise.wb</h1> 
            <h3>Are you interested in setting up a <em>micro, small or medium-sized 
business</em> in West Bengal?

                </h3>
            <a href="#" class="btn btn-default btn-lg">Find Out More</a>
            
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-1 text-center">
                    <h2>Hon'ble CM's Message</h2>
                    <p class="lead">"Micro, small and medium sector enterprises (MSMEs) have the potential to contribute significantly to Bengal's economy. An innovative multipronged approach to boost skill development and entrepreneurship among people across all cross-sections of society has been taken up. It will leverage the enormous platform provided by MSMEs in the state for maximum mutual benefit. 

I invite all of you to actively participate in these initiatives and begin your journey towards a brighter and prosperous future for Bengal."
</p>
</div>
<div class="col-md-4">
  <%= image_tag "cm.jpg" %>
  </div>
  </div>
  


                
            </div>
        </div>
    </div>
    <!-- /Intro -->
 <div id="services" class="services">
        <div class="container">
            
            <div class="row">
                <div class="col-md-3  col-md-offset-1 text-center">
                    <div class="service-item">
              
                        
                       <p class="lead">A quick and simple way to access all information and requirements of setting up an MSME unit in the state and the incentives provided by government.</p>

                    </div>
                </div>
                
                <div class="col-md-7 text-center">
                    <div class="service-item">
                        <p class="lead">
                          Some of the major features of the website are : Acts and Rules in simple language with FAQs, government incentives available to MSMEs in West Bengal and location of concerned government offices. The highlights of the site are the two interactive features - one on statutory compliance required by you and the other on incentives available to you. On line facility for registration and renewal under Factory Act and for EM I and EM II registration are also possible through this website.</p>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- Services -->
    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Our Services</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2  text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-book"></i>
                        <h4>Acts & Rules</h4>
                        <p>Simplified versions of the many laws that govern the operation of MSMEs in the state with FAQs to refer to should you need more explanation.
</p>
                        <a href="#" class="btn btn-sm btn-primary">Find More</a>

                    </div>
                </div>
                
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-inr"></i>
                        <h4>Government Incentives</h4>
                        <p>Monetary as well as non-monetary incentives offered by the State Government to facilitate the growth of MSMEs.</p>
                        <a href="#" class="btn btn-sm btn-primary">Check out</a>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-map-marker"></i>
                        <h4>My Govt. Office</h4>
                        <p>You know where to set up your unit but do you know which Government office to go to? And do you know where they are located?</p>
                        <a href="#" class="btn btn-sm btn-primary">Locate</a>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-th-list"></i>
                        <h4>Statutory Compliances</h4>
                        <p>Enterprises have to comply with various rules but an entrepreneur may be unaware of all of them. To know them, all you have to do here is to fill out a form about your enterprise and hit the submit button.</p>
                        <a href="#" class="btn btn-sm btn-primary">Submit Form</a>
                    </div>
                  </div>
                    <div class="col-md-3 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-gift"></i>
                        <h4>My Entitlements</h4>
                        <p>Do you know of all that you are entitled to as an entrepreneur in West Bengal? To know, all you have to do is to give us some information and we will give you a list of entitlements that you can claim while setting up your enterprise.</p>
                        <a href="#" class="btn btn-sm btn-primary">Check out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->



    <!-- Callout 
    <div class="callout">
        <div class="vert-text">
            
            <div class="col-md-4 col-md-offset-6 text-center"><h1>Featured Film</h1>
            <p></p>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="responsive-video">
           
            </div>
            </div>
        </div>
    </div>-->
    <!-- /Callout -->

    <!-- Portfolio 
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Our Work</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        
                        
                        <h4></h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        
                        <h4></h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    
                    
                    <a href="#" class="btn btn-lg btn-primary">Contact Us!</a>
                </div>
            </div>
        </div>
    </div>
  